<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indio Jobs</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/en/9/98/FinderBigSur.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>
<body>
    <header id="navbar-header">
        <nav id="navbar">
            <div id="left-sidebar">
                <ul>
                    <li><a href="/home">Indio Jobs</a></li>
                    <li><a href="/home">Home</a></li>
                    <li class="light-color"><a href="/jobs">Jobs</a></li>
                    
                    <li id="dropdown-recruiter" class="light-color">
                        <% if (user) { %>
                            <a href="#"><%= user.name %> <i class="fa-solid fa-caret-down"></i></a>
                            <div id="dropdown-cnt-recruiter" class="dropdown-content">
                                <div><a id="logout" href="/logout">Logout</a></div>
                                <div><a id="new-job" href="/post-job">Post New Job</a></div>
                            </div>
                        <% } else { %>
                            <button id="recruiter-btn" <%= app ? 'disabled' : '' %>>Recruiter <i class="fa-solid fa-caret-down"></i></button>
                            <div id="dropdown-cnt-recruiter" class="dropdown-content">
                                <div><a id="login" href="/login">Login</a></div>
                                <div><a id="new-job" href="/post-job">Post New Job</a></div>
                            </div>
                        <% } %>
                    </li>
                    
                    <li id="dropdown-app" class="light-color">
                        <% if (app) { %>
                            <a href="#"><%= app.name %> <i class="fa-solid fa-caret-down"></i></a>
                            <div id="dropdown-cnt-app" class="dropdown-content">
                                <div><a id="logout" href="/logout/applicants">Logout</a></div>
                                <div><a id="applied-jobs" href='/appliedJobs/<%= app.id %>'>Applied Jobs</a></div>
                            </div>
                        <% } else { %>
                            <button id="applicant-btn" <%= user ? 'disabled' : '' %>>Applicants <i class="fa-solid fa-caret-down"></i></button>
                            <div id="dropdown-cnt-app" class="dropdown-content">
                                <div><a id="login-app" href="/login/applicants">Login</a></div>
                                <div><a id="applied-jobs" href='#' onclick="errorAppliedBtn('<%= app.id %>')">Applied Jobs</a></div>
                            </div>
                        <% } %>
                    </li>
                    
                </ul>
            </div>
            <div id="search">
                <div id="search-box">
                    <form action="/job-search" method="post">
                        <input id="search-text" type="text" name="search" autocomplete="off" placeholder="Search" >
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    
    <%- body %>
    <script src="/js-code/script.js" ></script>
</body>
</html>